.container {
  position: relative;
  overflow-y: auto;
  //overscroll-behavior-y: contain;
  //scroll-snap-type: y mandatory;
  width: 100%;

}

.section {
  position: relative;
  //scroll-snap-align: center;
  height: 100vh;
  width: 100%;
}