.swiper {
    --swiper-navigation-color: #e2e8f0;
    --swiper-pagination-color: #e2e8f0;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-suiet {
    background: #0058DD;
    background: linear-gradient(#0058DD 0%, #67C8FF 100%);
}