@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .page-edge {
        @apply px-8;
    }
    .glassmorphism {
        @apply backdrop-blur-sm;
    }
    .scroll-view-x {
        @apply overflow-x-auto overflow-y-hidden whitespace-nowrap;
    }
    .text-overflow-ellipsis {
        @apply overflow-hidden text-ellipsis whitespace-nowrap;
    }
    .text-overflow-ellipsis-2 {
        @apply overflow-hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .text-overflow-ellipsis-4 {
        @apply overflow-hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

body::-webkit-scrollbar {
    display: none;
}